html,
body {
    margin: 0;
    padding: 0;
    background-color: #8c8d424b;
    background-attachment: fixed;
    width: 100%;
    color: #060b28;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.navbar-container {
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgba(76, 20, 91, 0.22);
    background-color: #96b95562;
}
h1 {
    margin-left: 10px;
    color: #2b052aeb;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.navbar a {
    border: 1px solid #0000003b;
    border-radius: 8px;
    padding: 10px;
    text-decoration: none;
    background-color: #577da8d3;
    font-weight: bold;
    color: black;
    margin: 15px;
}

.navbar a:hover {
    background-color: #b7b9b9ba;
    color: rgb(17, 148, 35);
}

.articles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px 0 50px 0;
}

.articles-list img {
       width: 200px;
}

.single-article {
    display: flex;
    border: 1px solid #0000003d;
    margin: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.single-article img {
    height: 200px;
    width: 300px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.single-article-info {
    padding: 0px 10px 0 10px;
    width: 500px;
    height: 200px
}